[submodule "csrc/attn/video_sparse_attn/tk"]
	path = csrc/attn/video_sparse_attn/tk
	url = https://github.com/HazyResearch/ThunderKittens.git

[submodule "csrc/attn/sliding_tile_attn/tk"]
	path = csrc/attn/sliding_tile_attn/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
